.search-box {
  position: relative;
}
.search-box svg {
  position: absolute;
  top: 8px;
  left: 8px;
  color: white;
}

.search-box input {
  color: white;
  padding-left: 50px;
  border-radius: 4px;
  width: 300px;
  padding: 10px 0;
  padding-left: 40px;
}

.search-box .MuiInput-underline:after {
  border-color: white;
}

.search-box .login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box .login-btn svg {
  margin-right: 10px;
}

.user-auth-flows {
  padding: 15px;
  width: 400px;
}

.user-auth-flows form {
  padding: 10px 30px;
}

.user-auth-flows .MuiFormControl-root {
  width: 100%;
  margin-top: 15px;
}

@media only screen and (max-width: 750px) {
  .search-box input {
    width: 100%;
  }
}
