.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #253337;
  color: white;
  padding: 10px;
}

@media only screen and (max-width: 750px) {
  .header {
    display: block;
  }

  .header > :not(:last-child) {
    margin-bottom: 10px;
  }
}
